<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Nuestras recomendaciones.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Completo</h4>
                    <p class="text-muted"En los restaurantes de servicio completo, los comensales se sientan a la mesa y los mozos les sirven.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mostrador</h4>
                    <p class="text-muted">En el servicio por mostrador, los comensales deben dirigirse al mostrador para pedir la comida.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Bufé</h4>
                    <p class="text-muted">Se exhiben diversas comidas y los comensales, o bien toman un plato, se sirven ellos mismos del bufé y luego regresan a la mesa a comer, o el mozo detrás del bufé sirve los alimentos que los comensales eligen.</p>
                </div>
            </div>
        </div>
    </section>
